@import "../../index.scss";

@keyframes teste {
  0% {
    transform: translateX(-20%);
  }
  60% {
    transform: translateX(160%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.login-area {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;

  @media (min-width: 39.8rem) {
    padding: 0;
  }
}

.card {
  position: relative;
  width: 100%;
  padding: 4rem 3rem;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  flex-direction: column;
  border: 0.1rem solid #ccc;
  border-radius: 0.8rem;
  overflow: hidden;

  .loading-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .loading-animation {
      display: block;
      width: 40%;
      background-color: $primary-blue;
      height: 0.3rem;
      animation: teste 2s ease infinite;
    }
  }

  img {
    width: 12rem;
    margin-bottom: 1.4rem;
  }

  span {
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
  }

  form {
    width: 100%;
    max-width: 36.6rem;
    margin-top: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-container {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      display: block;
      height: 5.6rem;
      margin-bottom: 2.4rem;
      outline: none;
      border: 0.1rem solid #ccc;
      border-radius: 0.5rem;
      font-size: 1.8rem;
      padding-left: 2.2rem;
      background-color: #fff;

      &:focus {
        border: 0.2rem solid $primary-blue;
      }

      &:focus + label {
        color: $primary-blue;
      }

      &:focus + label,
      &:valid + label {
        top: -1rem;
        left: 1.6rem;
        font-size: 1.4rem;
        padding: 0 0.8rem;
        background-color: #fff;
      }

      &:not(:focus) + label {
        color: #b4b4b4;
      }
    }

    label {
      position: absolute;
      display: block;
      top: 2rem;
      left: 2.2rem;
      transition: all 0.3s ease;
    }
  }

  .actions-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2.4rem;

    a {
      color: $primary-blue;
      font-weight: 500;
      text-decoration: none;
    }

    .login {
      color: #fff;
      background-color: $primary-blue;
      padding: 1.2rem 2.4rem;
      outline: none;
      border: none;
      font-size: 1.6rem;
      border-radius: 0.5rem;
    }

    a,
    .login {
      transition: all 0.3s ease;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }

  @media (min-width: 39.8rem) {
    padding: 4rem 6rem;
  }
}
