@import "../../index.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 26rem;
  padding: 0rem 2rem 0 2rem;
  border-right: 0.1rem solid #dddddd;
  z-index: 9999;
  transform: translateX(-30rem);
  background-color: #fff;
  transition: all 0.5s ease;

  @include screen(lg) {
    transform: translateX(0rem);
  }
}

.active {
  transform: translateX(0rem);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2rem;
  margin-bottom: 2rem;

  img {
    max-width: 10rem;
  }
}

.nav-btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem;
  align-items: center;
  border-bottom: 0.1rem solid #dddddd;
  transition: all 0.3s;
  @include screen(lg) {
    display: none;
  }
}

.menu-area-disabled {
  opacity: 0;
}

.menu-area-active {
  opacity: 1;
}

.close-menu-btn {
  @include screen(lg) {
    display: none;
  }
}

.avatar {
  margin-bottom: 2.8rem;
  // border-bottom: 0.1rem solid #dddddd;
  display: flex;
  align-items: flex-end;

  span {
    margin-left: 2rem;
    color: $text;
    line-height: 1;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;

  a {
    text-decoration: none;
    color: $text;
    padding: 1rem;
    border: 0.1rem solid #dddddd;
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-end;
    line-height: 1;
    transition: all ease 0.2s;

    &:hover {
      background-color: #dddddd;
    }

    svg {
      margin-right: 1rem;
    }
  }
}
